/PatientManagementSystem/nbproject/private/
/PatientManagementSystem/build/
/PatientManagementSystem/dist/
/PatientMangementLibary/PatientMangementLibrary/nbproject/private/
/PatientMangementLibary/PatientMangementLibrary/dist/
/PatientMangementLibary/PatientMangementLibrary/build/